.register {
    background-color: rgb(82, 82, 255);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    gap: 10px;
    margin-top: 15px;
}

.form input {
    border: none;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.heading {
    font-size: 20px;
    font-weight: 500;
    color: white;

}

.signup {
    border: none;
    margin-top: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    width: 90%;
    margin-top: 30px;
}

.already {
    font-size: 13px;
    color: white;
}

.login a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.form label {
    font-size: 14px;
    color: white;
}

#usernamenote {
    background-color: rgba(9, 9, 9, 0.793);
    color: white;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;

}

.hidden {
    position: absolute;
    left: -100%;
}

.instructions {
    left: 0;
}